@import "../../../../vars.scss";

.preview-wrap {
  max-height: 60px;
  border-bottom: 1px solid $gray;
  display: flex;
}

.preview__img-wrap {
  border-radius: 50%;
  max-width: 60px;
}

.preview__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.preview__sender {
  font-size: 15px;
  margin: 0;
  padding: 7px 0px;
}

.preview__last-message {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.preview__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.preview__date {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
}
